{% extends "project.html" %}

{% block content %}


<div class="container">
	<div class="cols-xs-6 cols-xs-offset-3">
		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			<fieldset>
				<legend>Add Category</legend>
				<div class="form-group">
					<label for="{{ for.title.id_for_label }}">Title</label>
					{{form.title}}
				</div>

				<div class="form-group">
					<label for="{{ for.active.id_for_label }}">Active</label>
					{{form.active}}
				</div>

				<div class="form-group">
					<label for="{{ for.Image.id_for_label }}">Image</label>
					{{form.image}}
				</div>

				<div class="form-group">
					<label for="{{ for.description.id_for_label }}">Description</label>
					{{form.description}}
				</div>

				<input type="submit" value="submit"/>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}